<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="50000" />
    <add key="LevelName" value="TeamkistServer" />
    <add key="AutoSaveInterval" value="60" />
    <add key="BackupCount" value="5" />
  </appSettings>
</configuration>